<li class="comment">
  <% if is_admin? %>
    <%= link_to 'x', comment_path(comment),
        method: :delete,
        confirm: 'Are you sure?',
        class: 'close' %>
  <% end %>
  <span class="timestamp pull-right">
    <% time = comment.created_at %>
    <%= time.strftime("%I:%M%p on %b #{time.day.ordinalize}, %Y") %>
  </span>
  <span class="name">
    <strong><%= comment.name %></strong>
  </span>
  <div class="body">
    <%= comment.body %>
  </div>
  <% unless comment.comments.empty? %>
  <ul class="comments">
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>
  <% end %>
</li>
