<li class="comment">
  <% if is_admin? %>
    <%= link_to 'x', comment_path(comment),
        method: :delete,
        confirm: 'Are you sure?',
        class: 'close' %>
  <% end %>
  <span class="name <%= 'mod' if admin_names.include? comment.name %>">
    <strong><%= comment.name %></strong>
  </span>
  &nbsp;
  <span class="timestamp">
    <%= time_ago_in_words comment.created_at %> ago
  </span>
  <div class="body">
    <%= sanitize comment.body.gsub(/\n/, '<br>') %>
  </div>
  <% unless comment.comments.empty? %>
  <ul class="comments">
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>
  <% end %>
</li>
