<div class="post span8 well" data-target="<%= gif.id %>">
  <div class="row">
    <div class="span6 left">
      <div class="content well center <%= 'mod' if gif.admin %>">
        <%= image_tag gif.image.url(:original), class: 'image' %>
        <%= simple_format auto_link h gif.content %>
      </div>
    </div>
    <div class="span2">
      <div class="meta center">
        <%= link_to gif.created_at.strftime("%I:%M%p on %m/%d/%Y"), post_path(gif), class: 'timestamp' %>
        <div class="vote">
          <a class="like btn btn-success <%= 'disabled' if @votes and @votes.include? gif.id %>">
            <span class="count"><%= gif.likes %></span>
            <i class="icon-thumbs-up"></i>
          </a>
          <a class="dislike btn btn-danger <%= 'disabled' if @votes and @votes.include? gif.id %>">
            <span class="count"><%= gif.dislikes %></span>
            <i class="icon-thumbs-down"></i>
          </a>
        </div>
        <div class="fb-like">
          <iframe src="//www.facebook.com/plugins/like.php?href=<%= u post_url(gif) %>&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=480322535317003" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
        </div>
        <%= link_to 'Post Comment', '#', class: 'post-comment' %>
      </div>
    </div>
  </div>

  <ul class="comments">
    <% unless gif.comments.empty? %>
      <%= render partial: 'comments/comment', collection: gif.comments %>
    <% end %>
  </ul>
</div>
