<% if @post.errors.any? %>
  <div class="error well">
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@post) do |f| %>
  <div class="post-form">
    <%= f.text_area :content, rows: 4 %>
  </div>
  <div class="actions">
    <div class="hidden-tablet">
      <%= f.submit "Submit Your Anonymous FML", class: "submit-button btn btn-primary btn-large" %>
    </div>
    <div class="visible-tablet">
      <%= f.submit "Submit FML", class: "submit-button btn btn-primary btn-large" %>
    </div>
  </div>
<% end %>
