<div class="post span8 well" data-target="<%= post.to_param %>">
  <div class="row">
    <div class="content span6 well">
      <%= post.content.html_safe %>
    </div>
    <div class="span2">
      <div class="meta center">
        <%= link_to post.created_at.strftime("%I:%M%p on %m/%d/%Y"), post_path(post), class: 'timestamp' %>
        <div class="vote">
          <a class="like btn btn-success <%= 'disabled' if @votes and @votes.include? post.id %>">
            <span class="count"><%= post.likes %></span>
            <i class="icon-thumbs-up"></i>
          </a>
          <a class="dislike btn btn-danger <%= 'disabled' if @votes and @votes.include? post.id %>">
            <span class="count"><%= post.dislikes %></span>
            <i class="icon-thumbs-down"></i>
          </a>
        </div>
        <%= link_to 'Post Comment', '#', class: 'post-comment' %>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="span8">
        <ul class="comments">
          <% unless post.comments.empty? %>
            <%= render partial: 'comments/comment', collection: post.comments %>
          <% end %>
        </ul>
      </div>
  </div>
</div>
