<% if @post.errors.any? %>
  <div class="error well span6">
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post, html: { class: 'well form-horizontal span8' } do |f| %>

  <div class="control-group">
    <%= f.label :content, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, rows: 2, class: 'content-field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :admin, class: 'control-label' %>
    <div class="controls">
      <%= f.check_box :admin, class: 'admin-field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Submit", class: 'btn btn-primary submit-comment' %>
    <button class="btn cancel-comment">Cancel</button>
  </div>
  <div class="links">
    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', action: 'review' %>
  </div>
<% end %>

