<% if notice %>
<div class="notice well span6">
  <%= notice %>
</div>
<% end %>

<div class="form">
  <%= render 'form' %>
</div>

<div class="posts">
  <%= render @posts %>
</div>

<div class="new-comment" style="display: none;">
  <%= render partial: 'comments/form' %>
</div>

<%= will_paginate class: 'pagination center' , page_links: false %>
<div class="load-status center span10"></div>
