<% if notice %>
<div class="notice well span6">
  <%= notice %>
</div>
<% end %>

<div class="alert alert-block alert-error span6">
  <a class="close" data-dismiss="alert" href="#">x</a>
  Welcome, visitors from <span style="font-weight: bold;">HarvardFML</span>!
</div>

<div class="form">
  <%= render 'form' %>
</div>

<div class="posts">
  <%= render @posts %>
</div>

<div class="new-comment" style="display: none;">
  <%= render partial: 'comments/form' %>
</div>

<%= will_paginate class: 'pagination center' , page_links: false %>
<div class="load-status center span10"></div>
