<% if notice %>
<div class="notice well span8">
  <%= notice %>
</div>
<% end %>

<div class="form">
  <%= render 'form' %>
</div>

<div class="posts">
<% @posts.each do |post| %>
  <div class="post">
    <div class="content span8 well">
      <%= post.content %>
    </div>
    <div class="vote span2">
      <a class="like btn btn-success">
        <%= post.likes %>
        <i class="icon-thumbs-up"></i>
      </a>
      <a class="dislike btn btn-danger">
        <%= post.dislikes %>
        <i class="icon-thumbs-down"></i>
      </a>
    </div>
    <div class="span2">
      <% post_disqus_path = post_path(post) + '#disqus_thread' %>
      <%= link_to 'Comments', post_disqus_path %>
    </div>
  </div>
<% end %>
</div>

<script type="text/javascript">
  var disqus_shortname = 'ptonfml';
  var disqus_developer = 1; // FIXME

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

<!-- <table> -->
<!-- <% @posts.each do |post| %> -->
<!--   <tr> -->
<!--     <th>Content</th> -->
<!--     <th></th> -->
<!--     <th></th> -->
<!--     <th></th> -->
<!--   </tr> -->

<!--   <tr> -->
<!--     <td><%= post.content %> -->
<!--     <td><%= link_to 'Show', post %></td> -->
<!--     <td><%= link_to 'Edit', edit_post_path(post) %></td> -->
<!--     <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td> -->
<!--   </tr> -->
<!-- <% end %> -->
<!-- </table> -->

<!-- <br /> -->

<!-- <%= link_to 'New Post', new_post_path %> -->
