<% if notice %>
<div class="notice well span6">
  <%= notice %>
</div>
<% end %>

<table class="table" style="background-color: #FFF; table-layout: fixed">
  <thead>
    <tr>
      <th>Approved</th>
      <th>IP</th>
      <th>Image</th>
      <th>Content</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
        <% if post.approved %>
      <tr class="approved">
          <td><i class="icon-ok"></i></td>
        <% else %>
      <tr class="unapproved">
          <td><i class="icon-remove"></i></td>
        <% end %>
        <td><%= post.ip %></td>
        <td><%= image_tag post.image.url(:medium) %></td>
        <td class="<%= 'mod' if post.admin %>"><%= simple_format auto_link post.content %></td>
        <td><%= post.created_at.strftime("%I:%M%p %m/%d/%Y") %></td>
        <td>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn' %>
          <%= link_to 'Destroy', post_path(post),
                      method: :delete,
                      confirm: 'Are you sure?',
                      class: 'btn btn-danger' %>
          <%= link_to 'Approve', post_path(post) + '/approve', class: 'btn btn-primary', method: :put %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate class: 'pagination center' %>
