<p id="notice"><%= notice %></p>

<div class="post">
  <div class="content span6 well">
    <%= @post.content %>
  </div>
  <div class="vote span2">
    <a class="like btn btn-success">
      <%= @post.likes %>
      <i class="icon-thumbs-up"></i>
    </a>
    <a class="dislike btn btn-danger">
      <%= @post.dislikes %>
      <i class="icon-thumbs-down"></i>
    </a>
  </div>
</div>

<ul class="comments well span8">
  <% unless @post.comments.empty? %>
    <%= render partial: 'comments/comment', collection: @post.comments %>
  <% end %>

  <%= form_for Comment.new, html: { class: 'form-horizontal well' }, remote: true do |f| %>
  <input name="post_id" type="hidden" value="<%= @post.id %>">
  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :body, 'Comment', class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, rows: 2 %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
  <% end %>
</ul>

<div class="links span10">
  <%= link_to 'Back', posts_path %>
</div>
