<p id="notice"><%= notice %></p>

<div class="post">
  <div class="content span6 well">
    <%= @post.content %>
  </div>
  <div class="vote span2">
    <a class="like btn btn-success">
      <%= @post.likes %>
      <i class="icon-thumbs-up"></i>
    </a>
    <a class="dislike btn btn-danger">
      <%= @post.dislikes %>
      <i class="icon-thumbs-down"></i>
    </a>
  </div>
</div>

<ul class="comments well span8">
  <% unless @post.comments.empty? %>
    <%= render partial: 'comments/comment', collection: @post.comments %>
  <% end %>
  <input type="textarea">
  <a href="#" class="btn btn-info pull-right">Submit</a>
</ul>

<div class="links span10">
  <%= link_to 'Back', posts_path %>
</div>
